html {
  height: -webkit-fill-available;
}

body {
  background-color: rgb(13, 63, 181);
}

main {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
}

@media screen and (max-width: 700px) and (orientation: landscape) {
  html {
    height: 100vh;
  }

  body {
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
  }
}
