html {
  height: -webkit-fill-available;
}

body {
  background-color: rgb(13, 63, 181);
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

main {
  color: white;
  font-family: "Noto Sans JP", sans-serif;
}
