.header {
  background-color: rgb(13, 63, 181);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
  font-family: "Noto Sans", "Noto Sans JP";
  height: 52px;
}

.ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.li {
  display: inline-block;
  list-style-type: none;
}

.title {
  color: white;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
  height: 40px;
  display: flex;
  align-items: center;
}

.link {
  color: white;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  padding-right: 10px;
  height: 24px;
}

.button {
  all: unset;
  cursor: pointer;
  color: white;
  font-size: 17px;
  font-weight: 300;
  height: 24px
}

@media screen and (max-width: 700px) {
  .header {
    flex-direction: column;
    height: 65px;
  }

  .title {
    font-size: 22px;
    padding-left: 5px;
  }

  .ul {
    padding-left: 0px;
    padding-bottom: 3px;
    margin: 0;
  }

  .link,
  .button {
    font-size: 16px;
    height: 25px;
  }
}
