.container {
  background-image: url(https://images.unsplash.com/photo-1614028674026-a65e31bfd27c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-repeat: repeat-x;
  background-position: center;
  min-height: 100vh;

}

@media screen and (max-width: 700px) {
  .container {
    min-height: -webkit-fill-available;
  }
}

@media screen and (orientation: landscape) {
  .container {
    position: relative;
    padding-bottom: 30px;
  }
}
