.formContainer {
  color: black;
  background-color: white;
  border-radius: 10px;
  box-shadow: 6px 6px 10px 0px rgba(3, 3, 3, 0.6);
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
  width: 100%;
}

.title {
  font-size: 30px;
  font-weight: 700;
  height: 60px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  margin: 0px;
  border: none;
  border-top: 1px solid;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.inputField {
  max-width: 700px;
  width: 100%;
  font-size: 13px;
  font-weight: 700;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.inputLabel {
  margin-bottom: 5px;
}
.input {
  border-radius: 5px;
  border: 2px solid gray;
  padding: 5px;
}

.button1 {
  color: white;
  background-color: rgb(45, 112, 189);
  max-width: 700px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 6px 6px 10px 0px rgba(3, 3, 3, 0.3);
}

.button2 {
  color: white;
  background-color: rgb(45, 112, 189);
  max-width: 700px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 6px 6px 10px 0px rgba(3, 3, 3, 0.3);
}

.button1:hover, .button2:hover {
  background-color: rgb(40, 100, 168);
}

@media screen and (max-width: 760px) {
  .formContainer {
    width: 95%;
  }

  .form {
    width: 95%;
  }
}
