.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.content {
  background: white;
  border-radius: 10px;
  box-shadow: 6px 6px 10px 0px rgba(3, 3, 3, 0.6);
  max-width: 500px;
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.sentence {
  color: black;
  font-size: 25px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.button {
  color: white;
  background-color: rgb(45, 112, 189);
  max-width: 460px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: none;
  box-shadow: 6px 6px 10px 0px rgba(3, 3, 3, 0.3);
}

.button:hover {
  background-color: rgb(40, 100, 168);
}

@media screen and (max-width: 760px) {
  .content {
    width: 95%;
  }

  .buttonContainer {
    width: 95%;
  }
}